swagger: '2.0'
info:
  description: The analytics forecasting component makes future prediction based on past and present trends. It uses supervised machine learning techniques to learn the relationship between variables (input) at hand and the variable (the target) we want to forecast. For instance, this could be the forecast of a production line or the prediction of a daily building energy consumption.
  title: Component forecasting
  version: 1.3.5
host: 'europewest.services.azureml.net:443'
basePath: /subscriptions/d52d94fb0aba437ea15c6690c09ee921/services/
schemes:
  - https
  
 
paths:
  /a2195564c5ed4cc68c51b1bc1aaed6ca/execute:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: '2.0'
          description: The API version to use (for internal use only)
          enum:
            - '2.0'
          in: query
          name: api-version
          required: true
          type: string
        - default: swagger
          description: Specify if the format of the inputs/outputs of the web service should be compact (no parameter) or verbose (format=swagger)
          enum:
            - swagger
          in: query
          name: format
          required: false
          type: string
        - description: Specify if the format of the output of the web service should be more verbose (detailed=true)
          enum:
            - true
          in: query
          name: detailed
          required: false
          type: string
        - description: Execution request
          in: body
          name: body
          schema:
            $ref: '#/definitions/ExecutionRequest_forecasting_getModelInformation'
      responses:
        '200':
          description: Execution results
          schema:
            $ref: '#/definitions/ExecutionResults_forecasting_getModelInformation'
      security:
        - api_key: []
      operationId: forecasting_getModelInformation_execute
      
      
      summary: 'forecasting_getModelInformation: This service returns model information on an existing prediction model that is securely stored on the Schneider Electric platform.'



  /5144ec09d72244e5b37df62c02debb95/execute:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: '2.0'
          description: The API version to use (for internal use only)
          enum:
            - '2.0'
          in: query
          name: api-version
          required: true
          type: string
        - default: swagger
          description: Specify if the format of the inputs/outputs of the web service should be compact (no parameter) or verbose (format=swagger)
          enum:
            - swagger
          in: query
          name: format
          required: false
          type: string
        - description: Specify if the format of the output of the web service should be more verbose (detailed=true)
          enum:
            - true
          in: query
          name: detailed
          required: false
          type: string
        - description: Execution request
          in: body
          name: body
          schema:
            $ref: '#/definitions/ExecutionRequest_forecasting_applyModel'
      responses:
        '200':
          description: Execution results
          schema:
            $ref: '#/definitions/ExecutionResults_forecasting_applyModel'
      security:
        - api_key: []
      operationId: forecasting_applyModel_execute
      summary: 'forecasting_applyModel: The `applyModel` service can be used to apply an existing forecasting model to new data. A request-response example to consume the `applyModel` web service (in Swagger and non-Swagger format) can be seen below.'
  /5123d43dbcc247319abdf617182e4c36/execute:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: '2.0'
          description: The API version to use (for internal use only)
          enum:
            - '2.0'
          in: query
          name: api-version
          required: true
          type: string
        - default: swagger
          description: Specify if the format of the inputs/outputs of the web service should be compact (no parameter) or verbose (format=swagger)
          enum:
            - swagger
          in: query
          name: format
          required: false
          type: string
        - description: Specify if the format of the output of the web service should be more verbose (detailed=true)
          enum:
            - true
          in: query
          name: detailed
          required: false
          type: string
        - description: Execution request
          in: body
          name: body
          schema:
            $ref: '#/definitions/ExecutionRequest_forecasting_createModel'
      responses:
        '200':
          description: Execution results
          schema:
            $ref: '#/definitions/ExecutionResults_forecasting_createModel'
      security:
        - api_key: []
      operationId: forecasting_createModel_execute
      summary: |-
        forecasting_createModel: The `createModel` web service creates a forecasting model. The created forecasting model uses information available from driver measurements and process parameters to model the relationship between the drivers and the target we wish to forecast. 

        The principle of this service is the following:

        *  Historical training data depicting how a system works is available.

        *  A target variable, i.e., data of special importance for which we want to build a forecasting model, is known.

        *  Some pattern in the data is suspected, i.e. some relationship between some of the available data and the target can be observed.

        *  This pattern can be used to create a forecasting model to generate predictions.
  /8f62b92d24c94d96a8176d9972deb3b1/execute:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: '2.0'
          description: The API version to use (for internal use only)
          enum:
            - '2.0'
          in: query
          name: api-version
          required: true
          type: string
        - default: swagger
          description: Specify if the format of the inputs/outputs of the web service should be compact (no parameter) or verbose (format=swagger)
          enum:
            - swagger
          in: query
          name: format
          required: false
          type: string
        - description: Specify if the format of the output of the web service should be more verbose (detailed=true)
          enum:
            - true
          in: query
          name: detailed
          required: false
          type: string
        - description: Execution request
          in: body
          name: body
          schema:
            $ref: '#/definitions/ExecutionRequest_forecasting_updateModel'
      responses:
        '200':
          description: Execution results
          schema:
            $ref: '#/definitions/ExecutionResults_forecasting_updateModel'
      security:
        - api_key: []
      operationId: forecasting_updateModel_execute
      summary: Forecasting UpdateModel
      description: This service updates an existing model created with the `createModel` web service. The input should include the same variables as the ones used to create the already available prediction model. Outputs of this service include the updated model ID (whereas the updated model is created with past and updated data), and the same output information as provided in the `createModel` service.
definitions:
  ExecutionInputs_forecasting_applyModel:
    properties:
      modelID:
        items:
          $ref: '#/definitions/modelIDItem_forecasting_applyModel'
        type: array
      testDataset:
        items:
          $ref: '#/definitions/testDatasetItem_forecasting_applyModel'
        type: array
    title: Execution inputs definition
    type: object
  ExecutionInputs_forecasting_createModel:
    properties:
      trainDataset:
        description: |-
          As input, the `createModel` web service takes a single data-frame in JSON format. It must include a `datetime` column with the time-stamp of observations. Note that the time-stamps can be given in any standard  ISO 8601 formats, but any output will convert the given format into the following: *2018-03-22T10:39:19Z*. The `target` column includes the (numeric) observations of the variable for which a prediction model is created. Moreover, the data-frame has to include 15 additional columns `att01,att02,..,att15` with numeric observations of the driver variables (the final drivers used to build the model can be defined by the user through one of the parameters). Missing observations should be included as `NaN` values. The API enforces a strict schema, therefore all variables should be present with their name as shown in the Request-Response example and no modifications in the column names can be done. If you have less than 15 drivers, then you should include the additional drivers, fill them with `NaN` or random values and make sure to remove them from the `normalDriverName` parameter. As such, they will not be used by the API. 

          An **example input data-frame** can be seen below:

          | datetime                     | target | att01 | att02 | att03 | ...  | att15 |
          | ---------------------------- | ------ | ----- | ----- | ----- | :--: | ----- |
          | 2015-10-08T08:00:00.000+0200 | 47.0   | 50.40 | 25.93 | 25.93 | ...  | 50.40 |
          | 2015-10-08T08:30:00.000+0200 | 46.0   | 40.96 | NaN   | 12.10 | ...  | 40.96 |
          | 2015-10-08T09:00:00.000+0200 | 45.0   | 43.55 | 25.70 | 25.70 | ...  | 43.55 |
          | 2015-10-08T09:30:00.000+0200 | 45.0   | 50.40 | NaN   | 11.10 | ...  | 50.40 |
          | 2015-10-08T10:00:00.000+0200 | 45.0   | 53.29 | 25.61 | 25.61 | ...  | 53.29 |
          | 2015-10-08T10:30:00.000+0200 | 46.0   | 67.23 | NaN   | 67.23 | ...  | 67.23 |
          | 2015-10-08T11:00:00.000+0200 | 47.0   | 84.63 | 25.61 | 25.61 | ...  | 84.63 |
          | 2015-10-08T11:30:00.000+0200 | 48.0   | 92.16 | NaN   | 15.2  | ...  | 92.16 |
          | 2015-10-08T12:00:00.000+0200 | 48.0   | 67.23 | 25.80 | 25.80 | ...  | 67.23 |
        items:
          $ref: '#/definitions/trainDatasetItem_forecasting_createModel'
        type: array
    title: Execution inputs definition
    type: object
  ExecutionInputs_forecasting_getModelInformation:
    properties:
      modelID:
        items:
          $ref: '#/definitions/modelIDItem_forecasting_getModelInformation'
        type: array
    title: Execution inputs definition
    type: object
  ExecutionInputs_forecasting_updateModel:
    description: |-
      As input, this service needs the model ID (i.e., the secure location in the Schneider Electric platform) of the existing forecasting model for which information is supposed to be retrieved in form of a data-table in JSON format. 
       The service also require new data to use to update the model in the same format than for the `createModel` service. 
       **WARNING**: the new data should NOT contains datetime already used in `createModel` service.
    properties:
      additionalTrainingData:
        items:
          $ref: '#/definitions/additionalTrainingDataItem_forecasting_updateModel'
        type: array
      modelID:
        items:
          $ref: '#/definitions/modelIDItem_forecasting_updateModel'
        type: array
    title: Execution inputs definition
    type: object
  ExecutionOutputs_forecasting_applyModel:
    description: |-
      Result dataset with the following columns :

       - prediction columns:
        -  `target`
        -  `datetime`
        - `PREDICTED_<target_name>_t+X` if `realign_forecast_on_horizon` is False
        - `PREDICTED_<target_name>_t+X_AGO` if `realign_forecast_on_horizon` is True
        - `PREDICTED_consumption_rate_t_BEST` if `realign_forecast_on_horizon` is True
              
      **Note 1** X is from 1 to `<nbr_time_step>` to horizon. ex: if horizon in 24 hours and training dataset has a time step of 1 hours: X will be 1,2, ..., 24
              
      **Note 2** if the error correction failed, the output dataframe will contains only one prediction columns corresponding to X = `<nbr_time_step>` to horizon.
              
      **Note 3** `PREDICTED_consumption_rate_t_BEST` correspond to the best forecast available for this time step. ie `PREDICTED_<target_name>_t+1_AGO` if available, else `PREDICTED_<target_name>_t+2_AGO` if available, else `PREDICTED_<target_name>_t+3_AGO` ...
            
      - additional columns containing diagnostics information:
        - `invalidInput` contains a boolean that is True whenever an input was invalid (outside of its training range +/- 5%)
        - `invalidInputVariableNames` contains a string containing the names of variables outside their training range
        - `nanInput`: whether one of the driver or the target was missing
        - `invalidPredition` contains a boolean that is True whenever a prediction is invalid (outside of its training range +/- 5%)
        - `minConfident2Sigma` : Minimum prediction confidence interval within two standard deviation.
        - `maxConfident2Sigma` : Maximum prediction confidence interval within two standard deviation.
        - `minConfident3Sigma` : Minimum prediction confidence interval within three standard deviation.
        - `maxConfident3Sigma` : Maximum prediction confidence interval within three standard deviation.
      - Input columns if `join_results_to_df` is True
    example:
      appliedModelOutput:
        - PREDICTED_target_t+1_AGO: null
          PREDICTED_target_t_BEST: null
          att01: '18'
          att02: '17'
          att03: '0.97'
          att04: '4'
          att05: '0.69459271066772'
          att06: '-3.93923101204883'
          att07: '0.7'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T03:00:00.00Z'
          invalidInput: nan
          invalidInputVariableNames: null
          invalidPrediction: nan
          maxConfident2Sigma: null
          maxConfident3Sigma: null
          minConfident2Sigma: null
          minConfident3Sigma: null
          nanInput: nan
          target: '1865'
        - PREDICTED_target_t+1_AGO: null
          PREDICTED_target_t_BEST: null
          att01: '17.8'
          att02: '17.2'
          att03: '0.97'
          att04: '2.7'
          att05: '-0.923454386979305'
          att06: '-2.53717007612195'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T04:00:00.00Z'
          invalidInput: nan
          invalidInputVariableNames: null
          invalidPrediction: nan
          maxConfident2Sigma: null
          maxConfident3Sigma: null
          minConfident2Sigma: null
          minConfident3Sigma: null
          nanInput: nan
          target: '1947'
        - PREDICTED_target_t+1_AGO: '6524.75657697775'
          PREDICTED_target_t_BEST: '6524.75657697775'
          att01: '18'
          att02: '17'
          att03: '0.97'
          att04: '3.6'
          att05: '-1.8'
          att06: '-3.11769145362398'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T05:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: DRIVER_att03_t|DRIVER_att03_t-1|FORECAST_att06_t+1
          invalidPrediction: 'False'
          maxConfident2Sigma: '14342.9122816599'
          maxConfident3Sigma: '18251.990134001'
          minConfident2Sigma: '-1293.39912770442'
          minConfident3Sigma: '-5202.47698004551'
          nanInput: 'False'
          target: '1788'
        - PREDICTED_target_t+1_AGO: '6596.20442266203'
          PREDICTED_target_t_BEST: '6596.20442266203'
          att01: '18'
          att02: '17'
          att03: '0.97'
          att04: '3.1'
          att05: '-1.99264159002827'
          att06: '-2.37473777366883'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T06:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: DRIVER_att03_t|DRIVER_att03_t-1
          invalidPrediction: 'False'
          maxConfident2Sigma: '14414.3601273442'
          maxConfident3Sigma: '18323.4379796853'
          minConfident2Sigma: '-1221.95128202014'
          minConfident3Sigma: '-5131.02913436123'
          nanInput: 'False'
          target: '1727'
        - PREDICTED_target_t+1_AGO: '6524.75657697775'
          PREDICTED_target_t_BEST: '6524.75657697775'
          att01: '18'
          att02: '17'
          att03: '0.97'
          att04: '3.6'
          att05: '-1.8'
          att06: '-3.11769145362398'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T07:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: DRIVER_att03_t|DRIVER_att03_t-1|FORECAST_att06_t+1
          invalidPrediction: 'False'
          maxConfident2Sigma: '14342.9122816599'
          maxConfident3Sigma: '18251.990134001'
          minConfident2Sigma: '-1293.39912770442'
          minConfident3Sigma: '-5202.47698004551'
          nanInput: 'False'
          target: '1725'
        - PREDICTED_target_t+1_AGO: '6524.75657697775'
          PREDICTED_target_t_BEST: '6524.75657697775'
          att01: '18'
          att02: '17'
          att03: '0.97'
          att04: '2.7'
          att05: '-1.35'
          att06: '-2.33826859021798'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T08:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: DRIVER_att03_t|DRIVER_att03_t-1
          invalidPrediction: 'False'
          maxConfident2Sigma: '14342.9122816599'
          maxConfident3Sigma: '18251.990134001'
          minConfident2Sigma: '-1293.39912770442'
          minConfident3Sigma: '-5202.47698004551'
          nanInput: 'False'
          target: '1732'
        - PREDICTED_target_t+1_AGO: '6524.75657697775'
          PREDICTED_target_t_BEST: '6524.75657697775'
          att01: '19'
          att02: '16'
          att03: '0.84'
          att04: '3.6'
          att05: '-2.75775999522832'
          att06: '-2.31403539487154'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T09:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: DRIVER_att03_t|DRIVER_att03_t-1
          invalidPrediction: 'False'
          maxConfident2Sigma: '14342.9122816599'
          maxConfident3Sigma: '18251.990134001'
          minConfident2Sigma: '-1293.39912770442'
          minConfident3Sigma: '-5202.47698004551'
          nanInput: 'False'
          target: '1782'
        - PREDICTED_target_t+1_AGO: '6555.44632257263'
          PREDICTED_target_t_BEST: '6555.44632257263'
          att01: '20'
          att02: '15'
          att03: '0.73'
          att04: '4.5'
          att05: '-3.4471999940354'
          att06: '-2.89254424358943'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T10:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: DRIVER_att03_t-1
          invalidPrediction: 'False'
          maxConfident2Sigma: '14373.6020272548'
          maxConfident3Sigma: '18282.6798795959'
          minConfident2Sigma: '-1262.70938210955'
          minConfident3Sigma: '-5171.78723445064'
          nanInput: 'False'
          target: '1778'
        - PREDICTED_target_t+1_AGO: '6224.17668153019'
          PREDICTED_target_t_BEST: '6224.17668153019'
          att01: '20'
          att02: '14'
          att03: '0.68'
          att04: '6.3'
          att05: '-5.45596004384196'
          att06: '-3.15'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T11:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: FORECAST_att06_t+1
          invalidPrediction: 'False'
          maxConfident2Sigma: '14042.3323862124'
          maxConfident3Sigma: '17951.4102385535'
          minConfident2Sigma: '-1593.97902315199'
          minConfident3Sigma: '-5503.05687549308'
          nanInput: 'False'
          target: '1815'
        - PREDICTED_target_t+1_AGO: '5878.74256200403'
          PREDICTED_target_t_BEST: '5878.74256200403'
          att01: '21'
          att02: '14'
          att03: '0.64'
          att04: '6.7'
          att05: '-5.80237020535574'
          att06: '-3.35'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T12:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: DRIVER_att04_t|DRIVER_att05_t|FORECAST_att06_t+1
          invalidPrediction: 'False'
          maxConfident2Sigma: '13696.8982666862'
          maxConfident3Sigma: '17605.9761190273'
          minConfident2Sigma: '-1939.41314267814'
          minConfident3Sigma: '-5848.49099501923'
          nanInput: 'False'
          target: '1717'
        - PREDICTED_target_t+1_AGO: '5530.94769606392'
          PREDICTED_target_t_BEST: '5530.94769606392'
          att01: '18'
          att02: '16'
          att03: '0.9'
          att04: '6.7'
          att05: '-5.13249776889715'
          att06: '-4.30667698489981'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T13:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: DRIVER_att04_t|DRIVER_att05_t|DRIVER_att05_t-1|FORECAST_att06_t+1
          invalidPrediction: 'False'
          maxConfident2Sigma: '13349.1034007461'
          maxConfident3Sigma: '17258.1812530872'
          minConfident2Sigma: '-2287.20800861825'
          minConfident3Sigma: '-6196.28586095934'
          nanInput: 'False'
          target: '1752'
        - PREDICTED_target_t+1_AGO: '5469.56823301649'
          PREDICTED_target_t_BEST: '5469.56823301649'
          att01: '20'
          att02: '16'
          att03: '0.78'
          att04: '5.4'
          att05: '-4.67653718043597'
          att06: '-2.7'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T14:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: DRIVER_att04_t|DRIVER_att05_t|DRIVER_att05_t-1
          invalidPrediction: 'False'
          maxConfident2Sigma: '13287.7239376987'
          maxConfident3Sigma: '17196.8017900398'
          minConfident2Sigma: '-2348.58747166568'
          minConfident3Sigma: '-6257.66532400677'
          nanInput: 'False'
          target: '1774'
        - PREDICTED_target_t+1_AGO: '6212.37294946042'
          PREDICTED_target_t_BEST: '6212.37294946042'
          att01: '22'
          att02: '16'
          att03: '0.68'
          att04: '4'
          att05: '-3.46410161513775'
          att06: '-2'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T15:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: DRIVER_att05_t-1
          invalidPrediction: 'False'
          maxConfident2Sigma: '14030.5286541426'
          maxConfident3Sigma: '17939.6065064837'
          minConfident2Sigma: '-1605.78275522175'
          minConfident3Sigma: '-5514.86060756284'
          nanInput: 'False'
          target: '1812'
        - PREDICTED_target_t+1_AGO: '6235.98042767112'
          PREDICTED_target_t_BEST: '6235.98042767112'
          att01: '22'
          att02: '15'
          att03: '0.64'
          att04: '6.3'
          att05: '-5.45596004384196'
          att06: '-3.15'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T16:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: FORECAST_att06_t+1
          invalidPrediction: 'False'
          maxConfident2Sigma: '14054.1361323533'
          maxConfident3Sigma: '17963.2139846944'
          minConfident2Sigma: '-1582.17527701106'
          minConfident3Sigma: '-5491.25312935215'
          nanInput: 'False'
          target: '1760'
        - PREDICTED_target_t+1_AGO: '6245.42342739809'
          PREDICTED_target_t_BEST: '6245.42342739809'
          att01: '21'
          att02: '14'
          att03: '0.64'
          att04: '6.7'
          att05: '-5.13249776889715'
          att06: '-4.30667698489981'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T17:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: DRIVER_att04_t|DRIVER_att05_t|FORECAST_att06_t+1
          invalidPrediction: 'False'
          maxConfident2Sigma: '14063.5791320803'
          maxConfident3Sigma: '17972.6569844214'
          minConfident2Sigma: '-1572.73227728409'
          minConfident3Sigma: '-5481.81012962518'
          nanInput: 'False'
          target: '1750'
        - PREDICTED_target_t+1_AGO: '5888.18556173101'
          PREDICTED_target_t_BEST: '5888.18556173101'
          att01: '18'
          att02: '14'
          att03: '0.78'
          att04: '6.7'
          att05: '2.29153496028198'
          att06: '-6.29594055926559'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T18:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: DRIVER_att04_t|DRIVER_att05_t|DRIVER_att05_t-1|FORECAST_att06_t+1
          invalidPrediction: 'False'
          maxConfident2Sigma: '13706.3412664132'
          maxConfident3Sigma: '17615.4191187543'
          minConfident2Sigma: '-1929.97014295117'
          minConfident3Sigma: '-5839.04799529226'
          nanInput: 'False'
          target: '1695'
        - PREDICTED_target_t+1_AGO: '5497.89721812626'
          PREDICTED_target_t_BEST: '5497.89721812626'
          att01: '16'
          att02: '13'
          att03: '0.81'
          att04: '3.6'
          att05: '0.625133439600948'
          att06: '-3.54530791084395'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T19:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: DRIVER_att04_t|DRIVER_att05_t-1|FORECAST_att06_t+1
          invalidPrediction: 'False'
          maxConfident2Sigma: '13316.0529228084'
          maxConfident3Sigma: '17225.1307751495'
          minConfident2Sigma: '-2320.25848655592'
          minConfident3Sigma: '-6229.33633889701'
          nanInput: 'False'
          target: '1725'
        - PREDICTED_target_t+1_AGO: '5490.81496481324'
          PREDICTED_target_t_BEST: '5490.81496481324'
          att01: '15'
          att02: '11'
          att03: '0.78'
          att04: '3.1'
          att05: '-1.06026244430957'
          att06: '-2.91304712443632'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T20:00:00.00Z'
          invalidInput: 'False'
          invalidInputVariableNames: null
          invalidPrediction: 'False'
          maxConfident2Sigma: '13308.9706694954'
          maxConfident3Sigma: '17218.0485218365'
          minConfident2Sigma: '-2327.34073986894'
          minConfident3Sigma: '-6236.41859221003'
          nanInput: 'False'
          target: '1718'
        - PREDICTED_target_t+1_AGO: '5140.65935245917'
          PREDICTED_target_t_BEST: '5140.65935245917'
          att01: '15'
          att02: '12'
          att03: '0.84'
          att04: '1.3'
          att05: '-0.835623892592501'
          att06: '-0.995857776054671'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T21:00:00.00Z'
          invalidInput: 'False'
          invalidInputVariableNames: null
          invalidPrediction: 'False'
          maxConfident2Sigma: '12958.8150571414'
          maxConfident3Sigma: '16867.8929094824'
          minConfident2Sigma: '-2677.49635222301'
          minConfident3Sigma: '-6586.5742045641'
          nanInput: 'False'
          target: '1723'
        - PREDICTED_target_t+1_AGO: '5843.56728013409'
          PREDICTED_target_t_BEST: '5843.56728013409'
          att01: '15'
          att02: '11'
          att03: '0.78'
          att04: '2.7'
          att05: '-2.65898093313296'
          att06: '-0.468850079700712'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T22:00:00.00Z'
          invalidInput: 'False'
          invalidInputVariableNames: null
          invalidPrediction: 'False'
          maxConfident2Sigma: '13661.7229848163'
          maxConfident3Sigma: '17570.8008371574'
          minConfident2Sigma: '-1974.58842454809'
          minConfident3Sigma: '-5883.66627688918'
          nanInput: 'False'
          target: '1703'
        - PREDICTED_target_t+1_AGO: '4783.42148679209'
          PREDICTED_target_t_BEST: '4783.42148679209'
          att01: '16'
          att02: '10'
          att03: '0.67'
          att04: '5.8'
          att05: '-3.72816813618193'
          att06: '-4.44305777009007'
          att07: '0.3'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-04T23:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: FORECAST_att06_t+1
          invalidPrediction: 'False'
          maxConfident2Sigma: '12601.5771914743'
          maxConfident3Sigma: '16510.6550438154'
          minConfident2Sigma: '-3034.73421789009'
          minConfident3Sigma: '-6943.81207023118'
          nanInput: 'False'
          target: '1755'
        - PREDICTED_target_t+1_AGO: '4452.15184574965'
          PREDICTED_target_t_BEST: '4452.15184574965'
          att01: '15'
          att02: '9'
          att03: '0.67'
          att04: '5.8'
          att05: '-4.44305777009007'
          att06: '-3.72816813618193'
          att07: '0'
          att08: null
          att09: null
          att10: null
          att11: null
          att12: null
          att13: null
          att14: null
          att15: null
          datetime: '2011-09-05T00:00:00.00Z'
          invalidInput: 'True'
          invalidInputVariableNames: DRIVER_att04_t|FORECAST_att06_t+1
          invalidPrediction: 'False'
          maxConfident2Sigma: '12270.3075504318'
          maxConfident3Sigma: '16179.3854027729'
          minConfident2Sigma: '-3366.00385893253'
          minConfident3Sigma: '-7275.08171127362'
          nanInput: 'False'
          target: '1866'
    properties:
      appliedModelOutput:
        items:
          $ref: '#/definitions/appliedModelOutputItem_forecasting_applyModel'
        type: array
    title: Execution outputs definition
    type: object
  ExecutionOutputs_forecasting_createModel:
    example:
      diagInfo:
        - phase_id: data_validation
          property: start_time
          value: '2019-08-08 12:36:56.850070'
        - phase_id: data_validation
          property: nb_observations
          value: '49'
        - phase_id: data_validation
          property: nb_columns
          value: '17'
        - phase_id: data_validation
          property: nb_cells
          value: '833'
        - phase_id: data_validation
          property: nb_missing_values
          value: '0'
        - phase_id: data_validation
          property: columns_with_missing_values
          value: ''
        - phase_id: data_validation
          property: was_datetime_sorted
          value: 'True'
        - phase_id: data_validation
          property: sampling_period
          value: '0 days 01:00:00'
        - phase_id: data_validation
          property: sampling_period_usage_rate
          value: '100.0'
        - phase_id: data_validation
          property: nb_rows_added_to_make_sampling_uniform
          value: '0'
        - phase_id: data_validation
          property: end_time
          value: '2019-08-08 12:36:56.881311'
        - phase_id: data_validation
          property: elapsed_seconds
          value: '0.031241'
        - phase_id: preprocessing
          property: start_time
          value: '2019-08-08 12:36:56.881311'
        - phase_id: preprocessing
          property: non_selected_columns
          value: 'att11,att09,att12,att15,att14,att13,att10,att08'
        - phase_id: preprocessing
          property: remaining_renamed_columns
          value: 'DRIVER_att05,DRIVER_att03,FORECAST_att07,DRIVER_att01,DRIVER_att02,FORECAST_att06,DRIVER_att04,TARGET_target'
        - phase_id: preprocessing
          property: normal_drivers_sliding_window_size
          value: '0 days 01:00:00'
        - phase_id: preprocessing
          property: normal_drivers_sliding_window_downsampling
          value: '0 days 01:00:00'
        - phase_id: preprocessing
          property: prediction_horizon
          value: '0 days 01:00:00'
        - phase_id: preprocessing
          property: forecast_drivers_sliding_window_size
          value: '0 days 00:00:00'
        - phase_id: preprocessing
          property: forecast_drivers_sliding_window_downsampling
          value: None
        - phase_id: preprocessing
          property: end_time
          value: '2019-08-08 12:36:56.928205'
        - phase_id: preprocessing
          property: elapsed_seconds
          value: '0.046894'
        - phase_id: preprocessing_model_specific
          property: start_time
          value: '2019-08-08 12:36:56.928205'
        - phase_id: preprocessing_model_specific
          property: nb_removed_constant_attributes
          value: '0'
        - phase_id: preprocessing_model_specific
          property: removed_constant_attributes
          value: ''
        - phase_id: preprocessing_model_specific
          property: nb_observations
          value: '47'
        - phase_id: preprocessing_model_specific
          property: nb_input_variables_for_model
          value: '12'
        - phase_id: preprocessing_model_specific
          property: rows_columns_ratio
          value: '3.92'
        - phase_id: preprocessing_model_specific
          property: has_sufficient_nb_observations
          value: 'False'
        - phase_id: preprocessing_model_specific
          property: end_time
          value: '2019-08-08 12:36:56.943837'
        - phase_id: preprocessing_model_specific
          property: elapsed_seconds
          value: '0.015632'
        - phase_id: creating_error_model
          property: start_time
          value: '2019-08-08 12:36:57.756341'
        - phase_id: creating_error_model
          property: end_time
          value: '2019-08-08 12:36:57.771971'
        - phase_id: creating_error_model
          property: elapsed_seconds
          value: '0.01563'
        - phase_id: performance_evaluation
          property: start_time
          value: '2019-08-08 12:36:56.943837'
        - phase_id: performance_evaluation
          property: temporary_train_set_size
          value: '38'
        - phase_id: performance_evaluation
          property: temporary_test_set_size
          value: '9'
        - phase_id: performance_evaluation
          property: split_method
          value: split-last
        - phase_id: performance_evaluation
          property: end_time
          value: '2019-08-08 12:36:57.693840'
        - phase_id: performance_evaluation
          property: elapsed_seconds
          value: '0.750003'
      driversUsage:
        - driver_importance: '31'
          driver_name: att01
          driver_type: normal
          time_shift_used_for_prediction: '0'
        - driver_importance: '22'
          driver_name: att01
          driver_type: normal
          time_shift_used_for_prediction: '-1'
        - driver_importance: '7'
          driver_name: att02
          driver_type: normal
          time_shift_used_for_prediction: '-1'
        - driver_importance: '12'
          driver_name: att03
          driver_type: normal
          time_shift_used_for_prediction: '0'
        - driver_importance: '22'
          driver_name: att03
          driver_type: normal
          time_shift_used_for_prediction: '-1'
        - driver_importance: '10'
          driver_name: att04
          driver_type: normal
          time_shift_used_for_prediction: '0'
        - driver_importance: '24'
          driver_name: att05
          driver_type: normal
          time_shift_used_for_prediction: '0'
        - driver_importance: '30'
          driver_name: att05
          driver_type: normal
          time_shift_used_for_prediction: '-1'
        - driver_importance: '47'
          driver_name: att06
          driver_type: forecast
          time_shift_used_for_prediction: '1'
      driversUsed:
        - driver_name: DRIVER_att01_t
          driver_type: normal
          max_value: '28'
          mean_value: '21.4425531914894'
          min_value: '13.9'
          reason: null
          std_value: '4.48498677623232'
          used_in_model: 'True'
        - driver_name: DRIVER_att01_t-1
          driver_type: normal
          max_value: '28'
          mean_value: '21.2936170212766'
          min_value: '13.9'
          reason: null
          std_value: '4.54792854210044'
          used_in_model: 'True'
        - driver_name: DRIVER_att02_t
          driver_type: normal
          max_value: '17'
          mean_value: '13.7659574468085'
          min_value: '10'
          reason: null
          std_value: '2.22683989347985'
          used_in_model: 'False'
        - driver_name: DRIVER_att02_t-1
          driver_type: normal
          max_value: '17'
          mean_value: '13.6808510638298'
          min_value: '10'
          reason: null
          std_value: '2.29315032005738'
          used_in_model: 'True'
        - driver_name: DRIVER_att03_t
          driver_type: normal
          max_value: '0.93'
          mean_value: '0.637659574468085'
          min_value: '0.39'
          reason: null
          std_value: '0.145186727833316'
          used_in_model: 'True'
        - driver_name: DRIVER_att03_t-1
          driver_type: normal
          max_value: '0.93'
          mean_value: '0.639787234042553'
          min_value: '0.39'
          reason: null
          std_value: '0.144906106957186'
          used_in_model: 'True'
        - driver_name: DRIVER_att04_t
          driver_type: normal
          max_value: '5.4'
          mean_value: '2.5468085106383'
          min_value: '0'
          reason: null
          std_value: '1.45345930138947'
          used_in_model: 'True'
        - driver_name: DRIVER_att04_t-1
          driver_type: normal
          max_value: '5.4'
          mean_value: '2.59574468085106'
          min_value: '0'
          reason: null
          std_value: '1.48000550040231'
          used_in_model: 'False'
        - driver_name: DRIVER_att05_t
          driver_type: normal
          max_value: '4.13663999284248'
          mean_value: '0.170367320505225'
          min_value: '-4.67653718043597'
          reason: null
          std_value: '2.16310009488332'
          used_in_model: 'True'
        - driver_name: DRIVER_att05_t-1
          driver_type: normal
          max_value: '4.13663999284248'
          mean_value: '0.223782602478037'
          min_value: '-4.67653718043597'
          reason: null
          std_value: '2.19913738379857'
          used_in_model: 'True'
        - driver_name: FORECAST_att06_t+1
          driver_type: normal
          max_value: '4.43163488855494'
          mean_value: '1.04383891943323'
          min_value: '-2.68467875173176'
          reason: null
          std_value: '1.67171301806045'
          used_in_model: 'True'
        - driver_name: FORECAST_att07_t+1
          driver_type: normal
          max_value: '0.7'
          mean_value: '0.323404255319149'
          min_value: '0'
          reason: null
          std_value: '0.150669182616069'
          used_in_model: 'False'
      modelErrorStatistics:
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '878.336908033409'
          variable: IQR
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '884.884123502619'
          variable: IQR
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '1524.24737463791'
          variable: max
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '1543.54275453538'
          variable: max
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '24.0033785984007'
          variable: mean
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '3.61073013520677E-05'
          variable: mean
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '-1167.32303903688'
          variable: min
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '-2407.66301200035'
          variable: min
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '661.096291225986'
          variable: stdev
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '793.623374133198'
          variable: stdev
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '1733.3632568168'
          variable: IQR
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '2928.2773255307'
          variable: IQR
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '5765.48151076381'
          variable: max
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '6829.01822915377'
          variable: max
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '3242.41764703375'
          variable: mean
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '3369.2738382605'
          variable: mean
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '827.313857831003'
          variable: min
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '797.522785954512'
          variable: min
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '1542.89009645491'
          variable: stdev
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '1982.14112980811'
          variable: stdev
      modelID:
        - modelID: c46f06e0-be73-42db-a676-cec6053741d4
      modelInformation:
        - property: creation_date
          value: '2019-08-08 12:36:56.850070'
        - property: has_sufficient_nb_observations
          value: 'False'
        - property: initial_model_creation_date
          value: '2019-08-08 12:36:56.850070'
        - property: max_prediction
          value: '0'
        - property: min_prediction
          value: '0'
        - property: nb_drivers_used_in_model
          value: '9'
        - property: nb_observations_testing
          value: '9'
        - property: nb_observations_total
          value: '47'
        - property: nb_observations_training
          value: '38'
        - property: ts_uniform_sampling_period_ms
          value: '3600000'
      modelPerformance:
        - dataset: test
          indicatorName: mean_absolute_error
          value: '3369.2738382605'
        - dataset: test
          indicatorName: root_mean_squared_error
          value: '3909.07785234109'
        - dataset: test
          indicatorName: coeff_variation_mean_absolute_error
          value: '0.987284773860276'
        - dataset: test
          indicatorName: coeff_variation_root_mean_squared_error
          value: '1.14546137497785'
        - dataset: test
          indicatorName: mean_absolute_relative_error
          value: '1.32978115919241'
        - dataset: test
          indicatorName: mean_absolute_relative_error_lenient
          value: '0.484752609394989'
        - dataset: test
          indicatorName: mean_absolute_relative_error_strict
          value: '1.32978115919241'
        - dataset: test
          indicatorName: relative_absolute_error
          value: '2.09445120488635'
        - dataset: test
          indicatorName: root_relative_squared_error
          value: '2.21454218714049'
        - dataset: test
          indicatorName: r2_score
          value: '-3.90419709862499'
        - dataset: train
          indicatorName: mean_absolute_error
          value: '603.34930414734'
        - dataset: train
          indicatorName: root_mean_squared_error
          value: '793.623374133199'
        - dataset: train
          indicatorName: coeff_variation_mean_absolute_error
          value: '0.141223881917121'
        - dataset: train
          indicatorName: coeff_variation_root_mean_squared_error
          value: '0.185760674463104'
        - dataset: train
          indicatorName: mean_absolute_relative_error
          value: '0.180031826083944'
        - dataset: train
          indicatorName: mean_absolute_relative_error_lenient
          value: '0.144160555284694'
        - dataset: train
          indicatorName: mean_absolute_relative_error_strict
          value: '0.196689457889984'
        - dataset: train
          indicatorName: relative_absolute_error
          value: '0.345041657203536'
        - dataset: train
          indicatorName: root_relative_squared_error
          value: '0.420812877000954'
        - dataset: train
          indicatorName: r2_score
          value: '0.82291652255018'
      predictionConfidenceIntervals:
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.05'
          std: '0.157393117818119'
          tails: Upper
          value: '0.634902154407757'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.05'
          std: '0.0626051383646488'
          tails: Lower
          value: '-0.280070278968648'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.05'
          std: '0.107681821109783'
          tails: Both
          value: '0.54593328734505'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.05'
          std: '194.929229992081'
          tails: Upper
          value: '1390.51146701597'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.05'
          std: '574.014038932521'
          tails: Lower
          value: '-1464.49547178396'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.05'
          std: '334.206484725387'
          tails: Both
          value: '1472.67808114175'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.1'
          std: '0.129751198696291'
          tails: Upper
          value: '0.545294189292826'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.1'
          std: '0.0604518490914105'
          tails: Lower
          value: '-0.2379213572027'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.1'
          std: '0.0954066284197658'
          tails: Both
          value: '0.4313617986957'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.1'
          std: '227.532956131141'
          tails: Upper
          value: '1237.95190253114'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.1'
          std: '470.36341743597'
          tails: Lower
          value: '-1185.23580363114'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.1'
          std: '220.60872388011'
          tails: Both
          value: '1250.93396664169'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.05'
          std: '0.467599755305949'
          tails: Upper
          value: '2.68261165982589'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.05'
          std: '0.116434062578546'
          tails: Lower
          value: '0.238627449161488'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.05'
          std: '0.474153245703073'
          tails: Both
          value: '2.61384219743303'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.05'
          std: '852.025950121429'
          tails: Upper
          value: '6034.45727270365'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.05'
          std: '429.339911480385'
          tails: Lower
          value: '996.4261239696'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.05'
          std: '880.715334116179'
          tails: Both
          value: '5872.62160184297'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.1'
          std: '0.475631593668494'
          tails: Upper
          value: '2.49462069013815'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.1'
          std: '0.20945805739267'
          tails: Lower
          value: '0.280917453773752'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.1'
          std: '0.509917962008058'
          tails: Both
          value: '2.30429588348898'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.1'
          std: '855.35146089782'
          tails: Upper
          value: '5917.26089423968'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.1'
          std: '523.773065934311'
          tails: Lower
          value: '1098.2481895365'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.1'
          std: '993.695157004254'
          tails: Both
          value: '5550.00167830384'
    properties:
      diagInfo:
        description: |
          a data-frame summary including relevant information of the created model. 

            An example table of the provided output can be seen below:

          | phase_id                     | property                       | value                      |
          | ---------------------------- | ------------------------------ | -------------------------- |
          | data_validation              | start_time                     | 2018-05-02 09:56:05.936818 |
          | data_validation              | nb_observations                | 31560                      |
          | data_validation              | nb_columns                     | 10                         |
          | data_validation              | nb_cells                       | 315600                     |
          | data_validation              | nb_missing_values              | 31340                      |
          | data_validation              | columns_with_missing_values    |                            |
          | data_validation              | was_datetime_sorted            | True                       |
          | data_validation              | sampling_period_ms             |                            |
          | data_validation              | end_time                       | 2018-05-02 09:56:06.006818 |
          | data_validation              | elapsed_seconds                | 0.07                       |
          | preprocessing                | start_time                     | 2018-05-02 09:56:06.006818 |
          | preprocessing                | non_selected_columns           | flag                       |
          | preprocessing                | remaining_renamed_columns      |                            |
          | preprocessing                | nb_rows_in_off_state_removed   | 15777                      |
          | preprocessing                | end_time                       | 2018-05-02 09:56:06.086818 |
          | preprocessing                | elapsed_seconds                | 0.08                       |
          | preprocessing_model_specific | start_time                     | 2018-05-02 09:56:06.086818 |
          | preprocessing_model_specific | nb_removed_constant_attributes | 0                          |
          | preprocessing_model_specific | removed_constant_attributes    |                            |
          | preprocessing_model_specific | nb_observations                | 261                        |
          | preprocessing_model_specific | nb_input_variables_for_model   | 6                          |
          | preprocessing_model_specific | rows_columns_ratio             | 43.5                       |
          | preprocessing_model_specific | has_sufficient_nb_observations | True                       |
          | preprocessing_model_specific | end_time                       | 2018-05-02 09:56:06.106818 |
          | preprocessing_model_specific | elapsed_seconds                | 0.02                       |
          | training                     | start_time                     | 2018-05-02 09:56:06.106818 |
          | training                     | end_time                       | 2018-05-02 09:56:06.136818 |
          | training                     | elapsed_seconds                | 0.03                       |
          | performance_evaluation       | start_time                     | 2018-05-02 09:56:06.136818 |
          | performance_evaluation       | temporary_train_set_size       | 209                        |
          | performance_evaluation       | temporary_test_set_size        | 52                         |
          | performance_evaluation       | split_method                   | split-last                 |
          | performance_evaluation       | end_time                       | 2018-05-02 09:56:13.184830 |
          | performance_evaluation       | elapsed_seconds                | 7.048012                   |
        items:
          $ref: '#/definitions/diagInfoItem_forecasting_createModel'
        type: array
      driversUsage:
        description: |-
          summarize information on the driver usage to create the model.

          | driver_name  | time_shift_used_for_prediction | driver_importance | driver_type |
          | ------------ | ------------------------------ | ----------------- | ----------- |
          | DRIVER_att01 | 0                              | 1.0               | normal      |
          | DRIVER_att02 | 0                              | 1.0               | normal      |
          | DRIVER_att03 | 0                              | 1.0               | normal      |
          | DRIVER_att04 | 0                              | 1.0               | normal      |
          | DRIVER_att05 | 0                              | 1.0               | normal      |
          | DRIVER_att06 | 0                              | 1.0               | normal      |
        items:
          $ref: '#/definitions/driversUsageItem_forecasting_createModel'
        type: array
      driversUsed:
        description: |-
          summarize information on the driver variables 

          | driver_name | driver_ type | max_ value | mean_  value | min_ value | reason | std_value | used_in_model |
          | ----------- | ------------ | ---------- | ------------ | ---------- | ------ | --------- | ------------- |
          | att01       | normal       | 47.55      | 46.46        | 43.20      |        | 1.58      | TRUE          |
          | att02       | normal       | 15.33      | 14.79        | 13.33      |        | 0.35      | TRUE          |
          | att03       | normal       | 53.85      | 50.43        | 47.20      |        | 1.33      | TRUE          |
          | att04       | normal       | 42.50      | 39.18        | 35.70      |        | 1.38      | TRUE          |
          | att05       | normal       | 32.40      | 30.85        | 29.20      |        | 0.65      | TRUE          |
          | att06       | normal       | 82.70      | 58.35        | 49.30      |        | 3.30      | TRUE          |
        items:
          $ref: '#/definitions/driversUsedItem_forecasting_createModel'
        type: array
      modelErrorStatistics:
        description: |
          define the distribution of the prediction errors. 

            An example table of the provided output can be seen below:

          | variable | queue | dataset  | nb_folds | nb_boostrap | value   |
          | -------- | ----- | -------- | -------- | ----------- | ------- |
          | IQR      | No    | training | 1        | 100         | 0.2933  |
          | IQR      | Yes   | training | 1        | 100         | 0.3220  |
          | mean     | No    | training | 1        | 100         | -0.0013 |
          | mean     | Yes   | training | 1        | 100         | 0.0010  |
          | stdev    | No    | training | 1        | 100         | 0.2009  |
          | stdev    | Yes   | training | 1        | 100         | 0.2316  |
          | IQR      | No    | test     | 1        | 100         | 0.1917  |
          | IQR      | Yes   | test     | 1        | 100         | 0.2007  |
          | mean     | No    | test     | 1        | 100         | 0.1073  |
          | mean     | Yes   | test     | 1        | 100         | 0.1098  |
          | stdev    | No    | test     | 1        | 100         | 0.1320  |
          | stdev    | Yes   | test     | 1        | 100         | 0.1750  |
        items:
          $ref: '#/definitions/modelErrorStatisticsItem_forecasting_createModel'
        type: array
      modelID:
        description: 'Represents the identification of the created model, which is securely stored on the Schneider Electric platform. This ID can be used to retrieve the model created in the createModel service.'
        items:
          $ref: '#/definitions/modelIDItem_forecasting_createModel'
        type: array
      modelInformation:
        description: |
          summarizes relevant model properties.

            An example table of the provided output can be seen below:

          | property                       | value                      |
          | ------------------------------ | -------------------------- |
          | creation_date                  | 2018-05-02 09:56:06.106818 |
          | has_sufficient_nb_observations | True                       |
          | initial_model_creation_date    | 2018-05-02 09:56:06.106818 |
          | max_prediction                 | 0                          |
          | min_prediction                 | 0                          |
          | nb_drivers_used_in_model       | 0                          |
          | nb_observations_testing        | 0                          |
          | nb_observations_total          | 0                          |
          | nb_observations_training       | 0                          |
          | ts_uniform_sampling_period_ms  | 0                          |
        items:
          $ref: '#/definitions/modelInformationItem_forecasting_createModel'
        type: array
      modelPerformance:
        description: |-
          includes different performance metrics of the test and training sets, such as the mean absolute error, the normalized absolute error, etc.

            An example table of the provided output can be seen below:

            | indicatorName                      | dataset  | value               |
            | ---------------------------------- | -------- | ------------------- |
            | mean_absolute_error                | training | 0.1874              |
            | root_mean_squared_error            | training | 0.2319917           |
            | normalized_mean_absolute_error     | training | 0.0253755           |
            | relative_error                     | training | 0.0254059916        |
            | relative_error_lenient             | training | 0.02452284036       |
            | relative_error_strict              | training | 0.0258087           |
            | normalized_root_mean_squared_error | training | 0.03204602498456187 |
            | relative_absolute_error            | training | 0.737781268         |
            | root_relative_squared_error        | training | 0.7373640686543463  |
            | r_squared                          | training | 0.4560837           |
            | mean_absolute_error                | test     | 0.161033            |
            | root_mean_squared_error            | test     | 0.20663             |
            | normalized_mean_absolute_error     | test     | 0.0225436734        |
            | relative_error                     | test     | 0.02277708872       |
            | relative_error_lenient             | test     | 0.022040115         |
            | relative_error_strict              | test     | 0.02284             |
            | normalized_root_mean_squared_error | test     | 0.02899             |
            | relative_absolute_error            | test     | 0.82132271          |
            | root_relative_squared_error        | test     | 0.85856834          |
            | r_squared                          | test     | 0.262862            |
        items:
          $ref: '#/definitions/modelPerformanceItem_forecasting_createModel'
        type: array
      predictionConfidenceIntervals:
        description: |
          summarize the differences of real and predicted values under the consideration of different significance levels.

           An example table of the provided output can be seen below:

          | scale    | tails    | dataset  | nb_folds | nb_bootstrap | significance_level | value | std   |
          | -------- | -------- | -------- | -------- | ------------ | ------------------ | ----- | ----- |
          | Relative | Positive | training | 1        | 100          | 0.05               | 0.072 | 0.006 |
          | Relative | Negative | training | 1        | 100          | 0.05               | 0.051 | 0.005 |
          | Relative | Both     | training | 1        | 100          | 0.05               | 0.065 | 0.005 |
          | Absolute | Positive | training | 1        | 100          | 0.05               | 0.482 | 0.042 |
          | Absolute | Negative | training | 1        | 100          | 0.05               | 0.399 | 0.036 |
          | Absolute | Both     | training | 1        | 100          | 0.05               | 0.455 | 0.026 |
          | Relative | Positive | training | 1        | 100          | 0.1                | 0.062 | 0.006 |
          | Relative | Negative | training | 1        | 100          | 0.1                | 0.044 | 0.003 |
          | Relative | Both     | training | 1        | 100          | 0.1                | 0.051 | 0.004 |
          | Absolute | Positive | training | 1        | 100          | 0.1                | 0.427 | 0.044 |
          | Absolute | Negative | training | 1        | 100          | 0.1                | 0.335 | 0.027 |
          | Absolute | Both     | training | 1        | 100          | 0.1                | 0.373 | 0.034 |
          | Relative | Positive | test     | 1        | 100          | 0.05               | 0.056 | 0.017 |
          | Relative | Negative | test     | 1        | 100          | 0.05               | 0.032 | 0.008 |
          | Relative | Both     | test     | 1        | 100          | 0.05               | 0.052 | 0.011 |
          | Absolute | Positive | test     | 1        | 100          | 0.05               | 0.364 | 0.079 |
          | Absolute | Negative | test     | 1        | 100          | 0.05               | 0.254 | 0.058 |
          | Absolute | Both     | test     | 1        | 100          | 0.05               | 0.348 | 0.055 |
          | Relative | Positive | test     | 1        | 100          | 0.1                | 0.046 | 0.009 |
          | Relative | Negative | test     | 1        | 100          | 0.1                | 0.031 | 0.008 |
          | Relative | Both     | test     | 1        | 100          | 0.1                | 0.043 | 0.005 |
          | Absolute | Positive | test     | 1        | 100          | 0.1                | 0.315 | 0.054 |
          | Absolute | Negative | test     | 1        | 100          | 0.1                | 0.222 | 0.059 |
          | Absolute | Both     | test     | 1        | 100          | 0.1                | 0.306 | 0.056 |
        items:
          $ref: '#/definitions/predictionConfidenceIntervalsItem_forecasting_createModel'
        type: array
    title: Execution outputs definition
    type: object
  ExecutionOutputs_forecasting_getModelInformation:
    example:
      diagInfo:
        - phase_id: data_validation
          property: start_time
          value: '2019-08-08 12:36:56.850070'
        - phase_id: data_validation
          property: nb_observations
          value: '49'
        - phase_id: data_validation
          property: nb_columns
          value: '17'
        - phase_id: data_validation
          property: nb_cells
          value: '833'
        - phase_id: data_validation
          property: nb_missing_values
          value: '0'
        - phase_id: data_validation
          property: columns_with_missing_values
          value: ''
        - phase_id: data_validation
          property: was_datetime_sorted
          value: 'True'
        - phase_id: data_validation
          property: sampling_period
          value: '0 days 01:00:00'
        - phase_id: data_validation
          property: sampling_period_usage_rate
          value: '100.0'
        - phase_id: data_validation
          property: nb_rows_added_to_make_sampling_uniform
          value: '0'
        - phase_id: data_validation
          property: end_time
          value: '2019-08-08 12:36:56.881311'
        - phase_id: data_validation
          property: elapsed_seconds
          value: '0.031241'
        - phase_id: preprocessing
          property: start_time
          value: '2019-08-08 12:36:56.881311'
        - phase_id: preprocessing
          property: non_selected_columns
          value: 'att11,att09,att12,att15,att14,att13,att10,att08'
        - phase_id: preprocessing
          property: remaining_renamed_columns
          value: 'DRIVER_att05,DRIVER_att03,FORECAST_att07,DRIVER_att01,DRIVER_att02,FORECAST_att06,DRIVER_att04,TARGET_target'
        - phase_id: preprocessing
          property: normal_drivers_sliding_window_size
          value: '0 days 01:00:00'
        - phase_id: preprocessing
          property: normal_drivers_sliding_window_downsampling
          value: '0 days 01:00:00'
        - phase_id: preprocessing
          property: prediction_horizon
          value: '0 days 01:00:00'
        - phase_id: preprocessing
          property: forecast_drivers_sliding_window_size
          value: '0 days 00:00:00'
        - phase_id: preprocessing
          property: forecast_drivers_sliding_window_downsampling
          value: None
        - phase_id: preprocessing
          property: end_time
          value: '2019-08-08 12:36:56.928205'
        - phase_id: preprocessing
          property: elapsed_seconds
          value: '0.046894'
        - phase_id: preprocessing_model_specific
          property: start_time
          value: '2019-08-08 12:36:56.928205'
        - phase_id: preprocessing_model_specific
          property: nb_removed_constant_attributes
          value: '0'
        - phase_id: preprocessing_model_specific
          property: removed_constant_attributes
          value: ''
        - phase_id: preprocessing_model_specific
          property: nb_observations
          value: '47'
        - phase_id: preprocessing_model_specific
          property: nb_input_variables_for_model
          value: '12'
        - phase_id: preprocessing_model_specific
          property: rows_columns_ratio
          value: '3.92'
        - phase_id: preprocessing_model_specific
          property: has_sufficient_nb_observations
          value: 'False'
        - phase_id: preprocessing_model_specific
          property: end_time
          value: '2019-08-08 12:36:56.943837'
        - phase_id: preprocessing_model_specific
          property: elapsed_seconds
          value: '0.015632'
        - phase_id: creating_error_model
          property: start_time
          value: '2019-08-08 12:36:57.756341'
        - phase_id: creating_error_model
          property: end_time
          value: '2019-08-08 12:36:57.771971'
        - phase_id: creating_error_model
          property: elapsed_seconds
          value: '0.01563'
        - phase_id: performance_evaluation
          property: start_time
          value: '2019-08-08 12:36:56.943837'
        - phase_id: performance_evaluation
          property: temporary_train_set_size
          value: '38'
        - phase_id: performance_evaluation
          property: temporary_test_set_size
          value: '9'
        - phase_id: performance_evaluation
          property: split_method
          value: split-last
        - phase_id: performance_evaluation
          property: end_time
          value: '2019-08-08 12:36:57.693840'
        - phase_id: performance_evaluation
          property: elapsed_seconds
          value: '0.750003'
      driversUsageDetails:
        - driver_importance: '31'
          driver_name: att01
          driver_type: normal
          time_shift_used_for_prediction: '0'
        - driver_importance: '22'
          driver_name: att01
          driver_type: normal
          time_shift_used_for_prediction: '-1'
        - driver_importance: '7'
          driver_name: att02
          driver_type: normal
          time_shift_used_for_prediction: '-1'
        - driver_importance: '12'
          driver_name: att03
          driver_type: normal
          time_shift_used_for_prediction: '0'
        - driver_importance: '22'
          driver_name: att03
          driver_type: normal
          time_shift_used_for_prediction: '-1'
        - driver_importance: '10'
          driver_name: att04
          driver_type: normal
          time_shift_used_for_prediction: '0'
        - driver_importance: '24'
          driver_name: att05
          driver_type: normal
          time_shift_used_for_prediction: '0'
        - driver_importance: '30'
          driver_name: att05
          driver_type: normal
          time_shift_used_for_prediction: '-1'
        - driver_importance: '47'
          driver_name: att06
          driver_type: forecast
          time_shift_used_for_prediction: '1'
      driversUsed:
        - driver_name: DRIVER_att01_t
          driver_type: normal
          max_value: '28'
          mean_value: '21.4425531914894'
          min_value: '13.9'
          reason: null
          std_value: '4.48498677623232'
          used_in_model: 'True'
        - driver_name: DRIVER_att01_t-1
          driver_type: normal
          max_value: '28'
          mean_value: '21.2936170212766'
          min_value: '13.9'
          reason: null
          std_value: '4.54792854210044'
          used_in_model: 'True'
        - driver_name: DRIVER_att02_t
          driver_type: normal
          max_value: '17'
          mean_value: '13.7659574468085'
          min_value: '10'
          reason: null
          std_value: '2.22683989347985'
          used_in_model: 'False'
        - driver_name: DRIVER_att02_t-1
          driver_type: normal
          max_value: '17'
          mean_value: '13.6808510638298'
          min_value: '10'
          reason: null
          std_value: '2.29315032005738'
          used_in_model: 'True'
        - driver_name: DRIVER_att03_t
          driver_type: normal
          max_value: '0.93'
          mean_value: '0.637659574468085'
          min_value: '0.39'
          reason: null
          std_value: '0.145186727833316'
          used_in_model: 'True'
        - driver_name: DRIVER_att03_t-1
          driver_type: normal
          max_value: '0.93'
          mean_value: '0.639787234042553'
          min_value: '0.39'
          reason: null
          std_value: '0.144906106957186'
          used_in_model: 'True'
        - driver_name: DRIVER_att04_t
          driver_type: normal
          max_value: '5.4'
          mean_value: '2.5468085106383'
          min_value: '0'
          reason: null
          std_value: '1.45345930138947'
          used_in_model: 'True'
        - driver_name: DRIVER_att04_t-1
          driver_type: normal
          max_value: '5.4'
          mean_value: '2.59574468085106'
          min_value: '0'
          reason: null
          std_value: '1.48000550040231'
          used_in_model: 'False'
        - driver_name: DRIVER_att05_t
          driver_type: normal
          max_value: '4.13663999284248'
          mean_value: '0.170367320505225'
          min_value: '-4.67653718043597'
          reason: null
          std_value: '2.16310009488332'
          used_in_model: 'True'
        - driver_name: DRIVER_att05_t-1
          driver_type: normal
          max_value: '4.13663999284248'
          mean_value: '0.223782602478037'
          min_value: '-4.67653718043597'
          reason: null
          std_value: '2.19913738379857'
          used_in_model: 'True'
        - driver_name: FORECAST_att06_t+1
          driver_type: normal
          max_value: '4.43163488855494'
          mean_value: '1.04383891943323'
          min_value: '-2.68467875173176'
          reason: null
          std_value: '1.67171301806045'
          used_in_model: 'True'
        - driver_name: FORECAST_att07_t+1
          driver_type: normal
          max_value: '0.7'
          mean_value: '0.323404255319149'
          min_value: '0'
          reason: null
          std_value: '0.150669182616069'
          used_in_model: 'False'
      modelErrorStatistics:
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '878.336908033409'
          variable: IQR
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '884.884123502619'
          variable: IQR
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '1524.24737463791'
          variable: max
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '1543.54275453538'
          variable: max
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '24.0033785984007'
          variable: mean
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '3.61073013520677E-05'
          variable: mean
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '-1167.32303903688'
          variable: min
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '-2407.66301200035'
          variable: min
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '661.096291225986'
          variable: stdev
        - dataset: train
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '793.623374133198'
          variable: stdev
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '1733.3632568168'
          variable: IQR
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '2928.2773255307'
          variable: IQR
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '5765.48151076381'
          variable: max
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '6829.01822915377'
          variable: max
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '3242.41764703375'
          variable: mean
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '3369.2738382605'
          variable: mean
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '827.313857831003'
          variable: min
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '797.522785954512'
          variable: min
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'No'
          std: null
          value: '1542.89009645491'
          variable: stdev
        - dataset: test
          nb_bootstrap: '0'
          nb_folds: '1'
          queue: 'Yes'
          std: null
          value: '1982.14112980811'
          variable: stdev
      modelInformation:
        - property: creation_date
          value: '2019-08-08 12:36:56.850070'
        - property: has_sufficient_nb_observations
          value: 'False'
        - property: initial_model_creation_date
          value: '2019-08-08 12:36:56.850070'
        - property: max_prediction
          value: '0'
        - property: min_prediction
          value: '0'
        - property: nb_drivers_used_in_model
          value: '9'
        - property: nb_observations_testing
          value: '9'
        - property: nb_observations_total
          value: '47'
        - property: nb_observations_training
          value: '38'
        - property: ts_uniform_sampling_period_ms
          value: '3600000'
      modelPerfomance:
        - dataset: test
          indicatorName: mean_absolute_error
          value: '3369.2738382605'
        - dataset: test
          indicatorName: root_mean_squared_error
          value: '3909.07785234109'
        - dataset: test
          indicatorName: coeff_variation_mean_absolute_error
          value: '0.987284773860276'
        - dataset: test
          indicatorName: coeff_variation_root_mean_squared_error
          value: '1.14546137497785'
        - dataset: test
          indicatorName: mean_absolute_relative_error
          value: '1.32978115919241'
        - dataset: test
          indicatorName: mean_absolute_relative_error_lenient
          value: '0.484752609394989'
        - dataset: test
          indicatorName: mean_absolute_relative_error_strict
          value: '1.32978115919241'
        - dataset: test
          indicatorName: relative_absolute_error
          value: '2.09445120488635'
        - dataset: test
          indicatorName: root_relative_squared_error
          value: '2.21454218714049'
        - dataset: test
          indicatorName: r2_score
          value: '-3.90419709862499'
        - dataset: train
          indicatorName: mean_absolute_error
          value: '603.34930414734'
        - dataset: train
          indicatorName: root_mean_squared_error
          value: '793.623374133199'
        - dataset: train
          indicatorName: coeff_variation_mean_absolute_error
          value: '0.141223881917121'
        - dataset: train
          indicatorName: coeff_variation_root_mean_squared_error
          value: '0.185760674463104'
        - dataset: train
          indicatorName: mean_absolute_relative_error
          value: '0.180031826083944'
        - dataset: train
          indicatorName: mean_absolute_relative_error_lenient
          value: '0.144160555284694'
        - dataset: train
          indicatorName: mean_absolute_relative_error_strict
          value: '0.196689457889984'
        - dataset: train
          indicatorName: relative_absolute_error
          value: '0.345041657203536'
        - dataset: train
          indicatorName: root_relative_squared_error
          value: '0.420812877000954'
        - dataset: train
          indicatorName: r2_score
          value: '0.82291652255018'
      predictionConfidenceIntervals:
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.05'
          std: '0.157393117818119'
          tails: Upper
          value: '0.634902154407757'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.05'
          std: '0.0626051383646488'
          tails: Lower
          value: '-0.280070278968648'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.05'
          std: '0.107681821109783'
          tails: Both
          value: '0.54593328734505'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.05'
          std: '194.929229992081'
          tails: Upper
          value: '1390.51146701597'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.05'
          std: '574.014038932521'
          tails: Lower
          value: '-1464.49547178396'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.05'
          std: '334.206484725387'
          tails: Both
          value: '1472.67808114175'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.1'
          std: '0.129751198696291'
          tails: Upper
          value: '0.545294189292826'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.1'
          std: '0.0604518490914105'
          tails: Lower
          value: '-0.2379213572027'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.1'
          std: '0.0954066284197658'
          tails: Both
          value: '0.4313617986957'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.1'
          std: '227.532956131141'
          tails: Upper
          value: '1237.95190253114'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.1'
          std: '470.36341743597'
          tails: Lower
          value: '-1185.23580363114'
        - dataset: train
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.1'
          std: '220.60872388011'
          tails: Both
          value: '1250.93396664169'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.05'
          std: '0.467599755305949'
          tails: Upper
          value: '2.68261165982589'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.05'
          std: '0.116434062578546'
          tails: Lower
          value: '0.238627449161488'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.05'
          std: '0.474153245703073'
          tails: Both
          value: '2.61384219743303'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.05'
          std: '852.025950121429'
          tails: Upper
          value: '6034.45727270365'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.05'
          std: '429.339911480385'
          tails: Lower
          value: '996.4261239696'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.05'
          std: '880.715334116179'
          tails: Both
          value: '5872.62160184297'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.1'
          std: '0.475631593668494'
          tails: Upper
          value: '2.49462069013815'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.1'
          std: '0.20945805739267'
          tails: Lower
          value: '0.280917453773752'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Relative
          significance_level: '0.1'
          std: '0.509917962008058'
          tails: Both
          value: '2.30429588348898'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.1'
          std: '855.35146089782'
          tails: Upper
          value: '5917.26089423968'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.1'
          std: '523.773065934311'
          tails: Lower
          value: '1098.2481895365'
        - dataset: test
          nb_bootstrap: '100'
          nb_folds: '1'
          scale: Absolute
          significance_level: '0.1'
          std: '993.695157004254'
          tails: Both
          value: '5550.00167830384'
    properties:
      diagInfo:
        description: |
          a data-frame summary including relevant information of the created model. 

            An example table of the provided output can be seen below:

          | phase_id                     | property                       | value                      |
          | ---------------------------- | ------------------------------ | -------------------------- |
          | data_validation              | start_time                     | 2018-05-02 09:56:05.936818 |
          | data_validation              | nb_observations                | 31560                      |
          | data_validation              | nb_columns                     | 10                         |
          | data_validation              | nb_cells                       | 315600                     |
          | data_validation              | nb_missing_values              | 31340                      |
          | data_validation              | columns_with_missing_values    |                            |
          | data_validation              | was_datetime_sorted            | True                       |
          | data_validation              | sampling_period_ms             |                            |
          | data_validation              | end_time                       | 2018-05-02 09:56:06.006818 |
          | data_validation              | elapsed_seconds                | 0.07                       |
          | preprocessing                | start_time                     | 2018-05-02 09:56:06.006818 |
          | preprocessing                | non_selected_columns           | flag                       |
          | preprocessing                | remaining_renamed_columns      |                            |
          | preprocessing                | nb_rows_in_off_state_removed   | 15777                      |
          | preprocessing                | end_time                       | 2018-05-02 09:56:06.086818 |
          | preprocessing                | elapsed_seconds                | 0.08                       |
          | preprocessing_model_specific | start_time                     | 2018-05-02 09:56:06.086818 |
          | preprocessing_model_specific | nb_removed_constant_attributes | 0                          |
          | preprocessing_model_specific | removed_constant_attributes    |                            |
          | preprocessing_model_specific | nb_observations                | 261                        |
          | preprocessing_model_specific | nb_input_variables_for_model   | 6                          |
          | preprocessing_model_specific | rows_columns_ratio             | 43.5                       |
          | preprocessing_model_specific | has_sufficient_nb_observations | True                       |
          | preprocessing_model_specific | end_time                       | 2018-05-02 09:56:06.106818 |
          | preprocessing_model_specific | elapsed_seconds                | 0.02                       |
          | training                     | start_time                     | 2018-05-02 09:56:06.106818 |
          | training                     | end_time                       | 2018-05-02 09:56:06.136818 |
          | training                     | elapsed_seconds                | 0.03                       |
          | performance_evaluation       | start_time                     | 2018-05-02 09:56:06.136818 |
          | performance_evaluation       | temporary_train_set_size       | 209                        |
          | performance_evaluation       | temporary_test_set_size        | 52                         |
          | performance_evaluation       | split_method                   | split-last                 |
          | performance_evaluation       | end_time                       | 2018-05-02 09:56:13.184830 |
          | performance_evaluation       | elapsed_seconds                | 7.048012                   |
        items:
          $ref: '#/definitions/diagInfoItem_forecasting_getModelInformation'
        type: array
      driversUsage:
        description: |-
          summarize information on the driver usage to create the model.

          | driver_name  | time_shift_used_for_prediction | driver_importance | driver_type |
          | ------------ | ------------------------------ | ----------------- | ----------- |
          | DRIVER_att01 | 0                              | 1.0               | normal      |
          | DRIVER_att02 | 0                              | 1.0               | normal      |
          | DRIVER_att03 | 0                              | 1.0               | normal      |
          | DRIVER_att04 | 0                              | 1.0               | normal      |
          | DRIVER_att05 | 0                              | 1.0               | normal      |
          | DRIVER_att06 | 0                              | 1.0               | normal      |
        items:
          $ref: '#/definitions/driversUsageItem_forecasting_getModelInformation'
        type: array
      driversUsed:
        description: |-
          summarize information on the driver variables 

          | driver_name | driver_ type | max_ value | mean_  value | min_ value | reason | std_value | used_in_model |
          | ----------- | ------------ | ---------- | ------------ | ---------- | ------ | --------- | ------------- |
          | att01       | normal       | 47.55      | 46.46        | 43.20      |        | 1.58      | TRUE          |
          | att02       | normal       | 15.33      | 14.79        | 13.33      |        | 0.35      | TRUE          |
          | att03       | normal       | 53.85      | 50.43        | 47.20      |        | 1.33      | TRUE          |
          | att04       | normal       | 42.50      | 39.18        | 35.70      |        | 1.38      | TRUE          |
          | att05       | normal       | 32.40      | 30.85        | 29.20      |        | 0.65      | TRUE          |
          | att06       | normal       | 82.70      | 58.35        | 49.30      |        | 3.30      | TRUE          |
        items:
[...]
